<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SupplyChainManagement</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/forms.css') }}">

</head>
<body>
    <!-- add the login form here-->
    {% include 'login.html' %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/forms.js') }}"></script>
</body>
</html>
